<footer >
    <div class="row justify-content-between m-3">
    <div class="lan-links col-4">
        <div class="foot-lan">
            <span> English (IN)</span>
            <span>&#8377  INR</span>
        </div>
        <div class="social-media">
            <a href="/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="copyright col-4 ">
        <div>&copy; 2026 StayFinder, Inc.</div>
        <div class="fa-info-links">
            <a href="/"><span>Privacy</span></a>
            <span>•</span>
            <a href="/"><span>Terms</span></a> <span>•</span>
            <a href=""><span>Sitemap</span></a> <span>•</span>
            <a href="/"><span>Company details</span></a>
        </div>
    </div>
    </div>
</footer>