<nav class="navbar navbar-expand-md bg-body sticky-top">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="fa-solid fa-hotel fa-lg text-danger me-2"></i>
            <span class="text-danger fw-bold">StayFinder</span>
        </a>

        <!-- Right Side -->
        <div class="navbar-nav ms-auto align-items-center">
            <a class="nav-link" href="/listings/new">Add Listing</a>

            <% if(!currUser){ %>

                <a class="nav-link" href="/signup">
                    <strong>Signup</strong>
                </a>

                <a class="nav-link" href="/login">
                    <strong>Login</strong>
                </a>

            <% } else { %>

                <a class="nav-link" href="/listings">
                    <%= currUser.username %>
                </a>

                <a class="nav-link" href="/logout">
                    Logout
                </a>

            <% } %>

        </div>

    </div>
</nav>